# Node modules
client/node_modules/
server/node_modules/

# Build output
client/build/
server/dist/
server/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
client/.env
server/.env
.env

# Optional editor configs
.vscode/
.idea/
